{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template tool_lifecycle/coursedeletion_summary

    This template renders the sums of the course deletions list.

    Example context (json):
    {
        "url": "http://localhost/",
        "sesskey": "sesskey",
        "bulk": 1,
        "checked": "",
        "string": "Bulk edit on",
        "legacyseturl": "page.php",
        "uniqueid": "remaining"
    }
}}
<div class="mt-2">
    <span id="coursedeletions_totalrows"
          class="totalrows badge badge-primary badge-pill mb-1">
        {{records}}
    </span>
    <span class="mr-2">{{numberofcoursedeletions}}</span>

    <span id="coursedeletions_modules"
          class="totalrows badge badge-secondary badge-pill mb-1">
        {{modules}}
    </span>
    <span class="mr-2">{{numberofmodules}}</span>

    <span id="coursedeletions_participants"
          class="totalrows badge badge-secondary badge-pill mb-1">
        {{participants}}
    </span>
    <span>{{numberofparticipants}}</span>
    <span class="ml-5">{{{downloadlinkcsv}}}</span>
<!--    <span class="ml-2">{{{downloadlinkxlsx}}}</span>-->
</div>
