{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lifecycle/overview_trigger

    Trigger course selection presentation

    Example context (json):
    {
        "instancename": "Triggername",
        "subpluginname": "adminapprove",
        "classfires": "my-2",
        "showcoursecounts": true,
        "automatic": true,
        "additionalinfo": "---",
        "showdetails": 1,
        "id": 1,
        "triggeredcourses": 5,
        "tooltip": " 5 courses will be triggered",
        "actionmenu": "actionmenu",
        "popuplink": "admin/tool/lifecycle/workflowoverview.php?wf=1"
    }
}}
{{#trigger}}
    <div class="workflow-trigger {{classfires}}">
        <div class="wf-header {{^showcoursecounts}}noshowcoursecounts{{/showcoursecounts}}">
            <div class="wf-header-text">
                <a href="#" data-toggle="tooltip" title="{{instancename}}">{{#shortentext}} 50, {{instancename}} {{/shortentext}}</a><br>
                <span class="text-muted" style="font-size: 0.9em">{{subpluginname}}</span>
            </div>
            <div class="wf-actionmenu">
                {{{ actionmenu }}}
            </div>
        </div>
        {{#showcoursecounts}}
            <div class="wf-content">
                {{#automatic}}
                    {{#additionalinfo}}
                        {{{additionalinfo}}}
                    {{/additionalinfo}}
                    {{^additionalinfo}}
                        {{#triggeredcourses}}
                            <a href="{{{popuplink}}}&trigger={{id}}&showdetails={{showdetails}}">
                                <span class="btn btn-outline-success" data-toggle="tooltip" title="{{tooltip}}">
                                    {{triggeredcourses}}
                                </span>
                            </a>
                        {{/triggeredcourses}}
                        {{^triggeredcourses}}
                            {{^excludedcourses}}
                                {{^exclude}}
                                    <a href="#" data-toggle="tooltip" title="{{tooltip}}" class="btn btn-outline-success">0</a>
                                {{/exclude}}
                            {{/excludedcourses}}
                        {{/triggeredcourses}}
                        {{#excludedcourses}}
                            <a href="{{{popuplink}}}&excluded={{id}}&showdetails={{showdetails}}" data-toggle="tooltip" title="{{tooltip}}">
                                <span class="btn btn-outline-danger">- {{excludedcourses}}</span>
                            </a>
                        {{/excludedcourses}}
                        {{^excludedcourses}}
                            {{#exclude}}
                                <a href="#" data-toggle="tooltip" title="{{tooltip}}" class="btn btn-outline-danger">0</a>
                            {{/exclude}}
                        {{/excludedcourses}}
                    {{/additionalinfo}}
                {{/automatic}}
                {{^automatic}}
                    <span class="font-weight-bold">-</span>
                {{/automatic}}
            </div>
        {{/showcoursecounts}}
    </div>
{{/trigger}}
