{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template plugintype_pluginname/template_name

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<link rel="stylesheet" href="scss/styles.scss">
<div class="workflow wf-trigger-wrapper">
{{#trigger}}
    <div class="workflow-single-trigger-wrapper">
        <div class="workflow-trigger workflow-item">
            <strong>{{instancename}}</strong> &nbsp; {{{show}}} <br> {{subpluginname}}
        </div>
    </div>
{{/trigger}}
    <div class="workflow-single-trigger-wrapper">
        <div class="workflow-trigger workflow-item">
            {{triggered}}
        </div>
    </div>
</div>
<div class="wf-wrapper">
    <div class="wf-steps-wrapper">
        {{#steps}}
            <div class="workflow-single-step-wrapper">
                {{#highlight}}<div class="workflow-step-highlight">{{/highlight}}
                    <div class="workflow-step workflow-item">
                        <strong>{{instancename}}</strong> &nbsp; <a href="{{steplink}}&step={{sortindex}}">{{icon}}{{name}}<span class="wf-course-counter">{{#pix}} i/courseevent, core, {{#str}} affcourses, tool_lifecycle{{/str}} {{/pix}} {{numberofcourses}}</span></a> &nbsp; {{{show}}}<br><em>{{subpluginname}}</em>
                    </div>
                {{#highlight}}</div>{{/highlight}}
            </div>
        {{/steps}}
    </div>
    <div class="wf-table-wrapper">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{# str }} coursename, tool_lifecycle {{/ str }}</th>
                        <th>{{# str }} coursestartdate, tool_lifecycle {{/ str }}</th>
                        <th>{{# str }} category, tool_lifecycle {{/ str }}</th>
                        <th>{{# str }} status, tool_lifecycle {{/ str }}</th>
                        <th>{{# str }} tools, tool_lifecycle {{/ str }}</th>
                        <th>{{# str }} date, tool_lifecycle {{/ str }}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#courses}}
                        <tr>
                            <td>{{{courselink}}}</td>
                            <td>{{#userdate}}{{{startdate}}}, %d.%m.%y {{/userdate}}</td>
                            <td>{{category}}</td>
                            <td>{{{status}}}</td>
                            <td>{{{tools}}}</td>
                            <td>{{date}}</td>
                        </tr>
                    {{/courses}}
                </tbody>
            </table>
        </div>
    </div>
</div>